$button-base-color: $accent-color;
$button-checked: $accent-color-dark;
$button-hover: $accent-color-dark;
$button-border-color: $accent-color;
$button-text-color: #FFFFFF;

$button-font-size: 1rem;
$button-border-size: 1px;
$button-padding-top-bottom: 0.375rem;
$button-padding-left-right: 0.675rem;
$button-border-radius: 0.25rem;

$radio-margin-left: -0.5rem; // Align edge of buttons up against one another

@mixin button-base {
    font-size: $button-font-size;
    text-align: center;
    white-space: nowrap;
    padding: $button-padding-top-bottom $button-padding-left-right;
    color: $button-text-color;
    border: $button-border-size solid $button-border-color;
    border-radius: $button-border-radius;
    background-color: $button-base-color;
    cursor: pointer;
    user-select: none;
}

.radio-button-group {
    white-space: nowrap; // Prevents radio group from wrapping

    & input[type="radio"] {
        display: none;

        &:checked + label {
            background-color: $button-checked;
            border-color: $button-checked;
        }
    }

    & label {
        @include button-base();
        display: inline-block;
        vertical-align: middle;
        margin-left: $radio-margin-left;

        &:hover {
            background-color: $button-hover;
            border-color: $button-hover;
        }

        & + input + label { // Neighbor label gets left border flattened, but not the 1st label.
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

.custom-button {
    @include button-base();
    display: block;
    width: 100%;

    &:focus { // Do not want anything to happen after clicked for now.
        outline: none;
    }
}
