$night-theme-background-color: #000000;
$night-theme-color: #999999;
$day-theme-background-color: #FFFFFF;
$day-theme-color: #000000;
$accent-color: #0033FF;
$accent-color-dark: #000099;
// Optional Dark #003399
// https://color.review/check/999999-000000
// https://color.review/check/000000-FFFFFF
// https://color.review/check/FFFFFF-0033FF
// https://color.review/check/FFFFFF-003399
