$header-margin: 0.75rem;

// Transitions
$transition-target: all;
$transition-duration: 0.25s;
$transition-type: ease;

// Can pass in a specific target if not wanting to target all
@mixin transition-base($target: $transition-target) {
    -webkit-transition: $target $transition-duration $transition-type;
    -moz-transition: $target $transition-duration $transition-type;
    -o-transition: $target $transition-duration $transition-type;
    transition: $target $transition-duration $transition-type;
}

// General CSS for site
body {
    margin: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    // margin: $header-margin 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    text-align: left;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
    text-align: left;
}

h5 {
    font-size: 1.25rem;
}

hr {
    margin: 3rem 0;
}

p {
    font-size: 1rem;
}

// Night mode color scheme
.night {
    @include transition-base();
    background-color: $night-theme-background-color;
    color: $night-theme-color;
}

// Day mode color scheme
.day {
    @include transition-base();
    background-color: $day-theme-background-color;
    color: $day-theme-color;
}
