@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

.container {
    margin: 0 auto;
    @include for-tablet-portrait-up {
        max-width: 560px;
    }

    @include for-tablet-landscape-up {
        max-width: 860px;
    }

    @include for-desktop-up {
        max-width: 1160px;
    }
}

.settings-area {
    display: grid;
    align-items: center;
    // 2 x 2 for tablet-landscape
    @include for-tablet-portrait-up {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "title title";
    }
    // 4 x 1 desktop
    @include for-desktop-up {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "title title title title";
    }
}

.title {
    grid-area: title;
}

.form-area {
    display: grid;
    grid-row-gap: 3rem;
    align-items: center;
}

.coordinate-input {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
    grid-template-areas:
    "title"
    "left-right"
    "front-back"
    "preview";
    align-items: center;
    @include for-tablet-landscape-up {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        grid-template-areas:
        "title ."
        "left-right front-back"
        "preview preview";
    }
}

.preview-area {
    grid-area: preview;
    display: grid;
    grid-row-gap: 1rem;
}

.counts-area {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    grid-template-areas: 
    "title title"
    "text range"
    "button button";
}

.counts-text {
    grid-area: text;
}

.counts-range {
    grid-area: range;
}

.counts-button {
    grid-area: button;
}

.left-to-right-area {
    grid-area: left-right;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "title title title"
    "top top top"
    "mid-left mid-left mid-right"
    "bottom bottom bottom";
}

.left-to-right-top {
    grid-area: top;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.left-to-right-mid-left {
    grid-area: mid-left;
    margin-right: 0.75rem; // Give space between range inputs
}

.left-to-right-mid-right {
    grid-area: mid-right;
}

.left-to-right-bottom {
    grid-area: bottom;
}

.front-to-back-area {
    grid-area: front-back;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "title"
    "top"
    "mid"
    "bottom";
}

.front-to-back-top {
    grid-area: top;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.front-to-back-mid {
    grid-area: mid;
}

.front-to-back-bottom {
    grid-area: bottom;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
