%shared-padding {
    padding: 0 .75rem;
}

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

// .container {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: auto auto auto;
//     grid-template-areas: 
//     "h"
//     "f"
//     "r";
// }

.left-to-right-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.heading-area {
    @extend %shared-padding;
    // grid-area: h;
}

.form-area {
    @extend %shared-padding;
    // grid-area: f;
}

.results-area {
    @extend %shared-padding;
    // grid-area: r;
}

.settings-area {
    // grid-area: s;
}

.start-coordinate {
    // grid-area: b;
}

.end-coordinate {
    // grid-area: e;
}

.counts-area {
    // grid-area: c;
}
