/* body {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    text-align: left;
    padding-top: 0.5em;
}

h3 {
    padding-top: 0.5em;
}

h4 {
    text-align: left;
} */

/* .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "h"
    "f"
    "r"
}

.heading-area {
    grid-area: h;
}

.form-area {
    grid-area: f;
}

.results-area {
    grid-area: r;
}

.settings-area {
    grid-area: s;
}

.start-coordinate {
    grid-area: b;
}

.end-coordinate {
    grid-area: e;
}

.counts-area {
    grid-area: c;
} */

/* .night {
    background-color: black;
    color: lightgray;
}

.day {
    background-color: white;
    color: black;
} */

/* .radio-button-group input[type="radio"] {
    display: none;
}

.radio-button-group label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    padding: .375rem .675rem;
    color: #FFFFFF;
    border: 1px solid #0033FF;
    border-radius: .25rem;
    background-color: #0033FF;
    margin-left: -.5rem;
    cursor: pointer;
}

.radio-button-group input[type="radio"]:checked + label {
    background-color: #003399;
    border-color: #003399;
}

.radio-button-group label:hover {
    background-color: #003399;
    border-color: #003399;
}

.radio-button-group label + input + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
} */
