body {
    background-color: black;
    color: lightgray;
    text-align: center;
}

h2 {
    text-align: left;
    padding-top: 0.5em;
}

h3 {
    padding-top: 0.5em;
}

h4 {
    text-align: left;
}
